<!-- <div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 bk1 kamil">
        </div>
        <div class="span2 bk2">
        </div>
    </div>
</div> -->

<div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-8 vh-100 bk1">.col-12 .col-sm-6 .col-md-8
        <button (click)="getUsers()">get users</button>
    </div>
    <div class="col-6 col-md-4 vh-100 bk2 modal-dialog-scrollable h1">.col-6 .col-md-4 .col-6 .col-md-4.col-6
        .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6
        .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4
    </div>
</div>