<mat-toolbar class="navbar">
    <span>Finance App</span>
  
    <ul class="nav navbar-nav navbar-right d-flex list-group-horizontal">
      <li>
        <a href="#" class="fa fa-cog"><button mat-icon-button class="d-flex border-none" aria-label="Home icon">
            <mat-icon>home</mat-icon>
          </button></a>
      </li>
      <li>
        <a href="#" class="fa fa-home"><button class="d-flex border-none" aria-label="Log out icon">
            <mat-icon>logout</mat-icon>
          </button></a>
      </li>
    </ul>
  </mat-toolbar>
  